/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-pane input {
  width: 90%;
  margin: auto;
  display: block;
  border: 1px solid #6166B3;
  height: 26px;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
}
